.healing-nav{
    height: 3em;
    background-color: chocolate;
}
.header{
    color: aliceblue;
    padding-left: 1em;
    font-family: 'FrutigerLTStd-Light,"Frutiger LT Std 45 Light","Frutiger LT Std 55 Roman",Frutiger LT Std,sans-serif';
    cursor: pointer;
}
.stock-management, .rescue-management, .rescue-management-table{
    color: aliceblue;
    font-family: 'FrutigerLTStd-Light,"Frutiger LT Std 45 Light","Frutiger LT Std 55 Roman",Frutiger LT Std,sans-serif';
    cursor: pointer;
}